@model SDSDemo.Models.RecyclableType

@{
    ViewBag.Title = "Create";
}

<h2>Create Recyclable Type</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Recyclable Type</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { id = "TypeInput" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Rate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rate, new { id = "RateInput" })
                @Html.ValidationMessageFor(model => model.Rate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MinKg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinKg, new { id = "MinKgInput" })
                @Html.ValidationMessageFor(model => model.MinKg)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaxKg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxKg, new { id = "MaxKgInput" })
                @Html.ValidationMessageFor(model => model.MaxKg)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" onclick="clearForm()">Reset Form</button>
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            window.clearForm = function () {
                // Clear all input fields
                $('#Type').val('');
                $('#Rate').val('');
                $('#MinKg').val('');
                $('#MaxKg').val('');

                // Clear validation messages
                $('.field-validation-error').html('');
                $('.input-validation-error').removeClass('input-validation-error');
            }
        });
    </script>
}
